h1{
    color:green;
    font-size: 40px;
}
.body_background{
    background-image: url("https://docs.google.com/uc?export=download&id=12bFDv365aKfYuynKBSvoBLsLixl99IS5");
    background-position: center;
    background-size: cover;
}
#mycanvas{
    background-color:white;
    border-style:ridge;
    border-width:10px;
}
span{
    font-size: 20px;
}
body{
    cursor:pointer;
  }
input{
    margin-right: 20px;
  }
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }